# Spend Efficiency & Budget Allocation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
subscribers = pd.read_csv('subscribers.csv', parse_dates = ['account_creation_date', 'trial_end_date','last_payment','next_payment','cancel_date'])
subscribers.head(2)

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:00,2020-06-07 21:44:00,NaT,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:00,2020-07-15 15:44:00,NaT,True

In [5]:
payment_period = subscribers['payment_period']
payment_period.value_counts()

0    95391
1    86968
2    42921
3     2348
Name: payment_period, dtype: int64

In [6]:
paid = subscribers[['subid','last_payment']]
paid

           subid        last_payment
0       21724479 2020-02-07 21:44:00
1       23383224 2020-03-15 15:44:00
2       26844789                 NaT
3       29417030                 NaT
4       26723159 2020-02-19 12:57:00
...          ...                 ...
227623  21434712 2019-12-01 14:12:00
227624  25843074 2019-12-20 18:02:00
227625  24799085 2020-01-04 19:40:00
227626  21308040 2020-01-31 23:58:00
227627  20166335                 NaT

[227628 rows x 2 columns]

In [7]:
paid1 = paid.dropna()
paid1

           subid        last_payment
0       21724479 2020-02-07 21:44:00
1       23383224 2020-03-15 15:44:00
4       26723159 2020-02-19 12:57:00
5       24810928 2020-03-17 20:15:00
6       29726122 2020-03-04 18:30:00
...          ...                 ...
227622  25835684 2020-01-15 22:43:00
227623  21434712 2019-12-01 14:12:00
227624  25843074 2019-12-20 18:02:00
227625  24799085 2020-01-04 19:40:00
227626  21308040 2020-01-31 23:58:00

[132237 rows x 2 columns]

In [23]:
channel = subscribers[['subid','account_creation_date','attribution_technical','attribution_survey']]

In [24]:
Budget1 = pd.merge(paid1, channel, on='subid', how='left')

Budget1.shape

(132237, 5)

In [25]:
Budget1
Budget1.to_csv("Budget1.csv")

In [13]:
spending = pd.read_csv('channel_spend_graduate.csv', parse_dates = ['date'])
spending

     channel    date  spend_AED
0       bing  201907        400
1    display  201907         12
2   facebook  201907       9000
3     search  201907      13000
4    youtube  201907         90
5       bing  201908        900
6    display  201908         20
7   facebook  201908      13000
8     search  201908      18500
9    youtube  201908        180
10      bing  201909       1000
11   display  201909         13
12  facebook  201909      10500
13    search  201909      19000
14   youtube  201909        100
15      bing  201910       1100
16   display  201910         19
17  facebook  201910      17000
18    search  201910      24000
19   youtube  201910        130
20      bing  201911       1300
21   display  201911         29
22  facebook  201911      23000
23    search  201911      25000
24   youtube  201911        550
25      bing  201912        300
26   display  201912         31
27  facebook  201912      16000
28    search  201912      38000
29   youtube  201912        900
30      bing  202001       2100
31   display  202001        148
32  facebook  202001      11000
33    search  202001      41000
34   youtube  202001       4360
35      bing  202002       3700
36   display  202002         94
37  facebook  202002      14000
38    search  202002      44000
39   youtube  202002       2420

In [39]:
Jul_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20190629')) & (Budget1['account_creation_date'] <= pd.to_datetime('20190731'))]
Aug_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20190801')) & (Budget1['account_creation_date'] <= pd.to_datetime('20190831'))]
Sep_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20190901')) & (Budget1['account_creation_date'] <= pd.to_datetime('20190930'))]
Oct_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20191001')) & (Budget1['account_creation_date'] <= pd.to_datetime('20191031'))]
Nov_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20191101')) & (Budget1['account_creation_date'] <= pd.to_datetime('20191130'))]
Dec_2019= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20191201')) & (Budget1['account_creation_date'] <= pd.to_datetime('20191231'))]
Jan_2020= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20200101')) & (Budget1['account_creation_date'] <= pd.to_datetime('20200131'))]
Feb_2020= Budget1[(Budget1['account_creation_date'] >=pd.to_datetime('20200201')) & (Budget1['account_creation_date'] <= pd.to_datetime('20200229'))]

In [40]:
#Jul_2019.groupby('attribution_technical').count()

In [30]:
#Aug_2019.groupby('attribution_technical').count()

In [32]:
#Sep_2019.groupby('attribution_technical').count()

In [34]:
#Oct_2019.groupby('attribution_technical').count()

In [36]:
#Nov_2019.groupby('attribution_technical').count()

In [38]:
#Dec_2019.groupby('attribution_technical').count()

In [42]:
#Jan_2020.groupby('attribution_technical').count()

In [43]:
Feb_2020.groupby('attribution_technical').count()

,subid,last_payment,account_creation_date,attribution_survey
attribution_technical,,,,
affiliate,960,960,960,952
appstore,7,7,7,6
bing,172,172,172,170
bing_organic,14,14,14,14
brand sem intent bing,254,254,254,251
brand sem intent google,1464,1464,1464,1459
direct_mail,18,18,18,15
discovery,48,48,48,48
display,183,183,183,183
email,2039,2039,2039,2032
email_blast,34,34,34,34
facebook,4618,4618,4618,4609
facebook_organic,192,192,192,192
google_organic,1083,1083,1083,1082
influencer,2,2,2,2
internal,43,43,43,42
organic,2059,2059,2059,2007
other,168,168,168,165
ott,51,51,51,51
pinterest,491,491,491,488
pinterest_organic,2,2,2,2
playstore,3,3,3,3
podcast,192,192,192,191
referral,514,514,514,512
search,2834,2834,2834,2819
vod,55,55,55,55
youtube,156,156,156,156